body {
    font-family: Arial, sans-serif;
    background-color: #e9e6e6cb;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2 {
    color: #333;
  }
  
  ol {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
  }
  
  img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  }
  
  .photo-section {
    margin-top: 40px;
  }
  